<% include partials/header %>

<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <!-- chrome will not autoplay unless muted="true" -->
        <video src="/RoofTopClouds.mp4" autoplay="true" loop="true" muted="true"></video>
    </div>
    <div class="header-overlay">
        <!-- empty div-->
    </div>
    <div class="header-content">
        <h1>Enter Zip Code:</h1>
        <h3></h3>
        
        <form class="pure-form">
            <fieldset>
                <input type="number" name="zip" placeholder="12345" autofocus required>
                <input type="submit" class="pure-button pure-button-primary" value="go">
            </fieldset>
        </form>

    </div>
</header>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/main.js"></script>
<% include partials/footer %>