<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- middlware in express will allow us to find static w/o relative or absolute path -->
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <!-- need to add the frontend todo js here, has document-ready function so can go in head of view html -->
    <script src="/assets/todo-list.js"></script>

</head>
<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <!-- all todo items will go here -->
        <form>
            <input type="text" name="item" placeholder="Add new item.." required>
            <button type="submit">Add Item</button>
        </form>

        <ul>
            <!-- dynamically render html via ejs -->
            <!-- takes JSON as input from todo-list.js via data passed from todoController.js -->
            <% for(var i = 0; i < todos.length; i++) { %>
                <!-- get value for each key of each object in array -->
                <li><%= todos[i].item %></li>
            <% }; %>
        </ul>
    </div>
    
</body>
</html>