<% include partials/header.ejs %>

<h2>Write New Entry</h2>
<form method="POST" role="form">
    <div class="form-group">
        <label for="title">Title</label>

        <input type="text" class="form-control" id="title" name="title" placeholder="Entry Title" required>
    </div>
    <div class="form-group">
        <label for="content">Entry Text</label>
        <textarea class="form-control" name="body" id="body" placeholder="Love Express!, its a great node tool." rows="3" required></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Post Entry" class="btn btn-primary">
    </div>
</form>

<% include partials/footer.ejs %>